@{
    Layout = "LayoutOvertime";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List Overtime Request (Employee)</h6>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#insertModal" onclick="InsertSplk()">INSERT</button>
    </div>
    <div class="card-body">
        <div class="table-responsive tablediv">
            <table id="table_splk" class="table table-hover table-bordered" width="100%" cellspacing="0">
                <thead class="thead-light font-weight-bold text-primary">
                    <tr class="">
                        <td>No</td>
                        <td>NIK</td>
                        <td>Overtime Type</td>
                        <td>Start Date</td>
                        <td>Start Time</td>
                        <td>End Time</td>
                        <td>Description</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>


<div class="modal fade insertModal" id="insertModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Insert Form SPLK</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formSplk">
                    <div class="mb-1">
                        <label for="nik" class="col-form-label">NIK:</label>
                        <input type="text" class="form-control" id="nik" name="nik">
                    </div>
                    <div class="mb-1">
                        <label for="jenisLembur">Overtime Type</label>
                        <select id="jenislembur" name="jenislembur" class="form-control">
                        <option value="99" selected>Type</option>
                        <option value="0">Work</option>
                        <option value="1">Holiday</option>
                        </select>
                    </div>

                    <div class="row g-3 mb-1">
                        <div class="col-4">
                            <label for="recipient-name" class="col-form-label">Start Date:</label>
                            <input type="Date" class="form-control" id="tglmulai" name="tglmulai">

                        </div>
                        <div class="col-4">
                            <label for="recipient-name" class="col-form-label">Start Time:</label>
                            <input type="time" class="form-control" id="jammulai" name="jammulai">

                        </div>
                        <div class="col-4">
                            <label for="recipient-name" class="col-form-label">End Time:</label>
                            <input type="time" class="form-control" id="jamselesai" name="jamselesai">

                        </div>
                    </div>

                    <div class="mb-1">
                        <label for="recipient-name" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="deskripsi" name="deskripsi" rows="3"></textarea>
                    </div>
                    <div class="mb-1">
                        <label for="recipient-name" class="col-form-label">Evidence:</label>
                        <input type="file" class="form-control" id="buktifile" name="buktifile">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="btnSaveSplk" class="btn btn-primary" >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade detailModal" id="detailModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detail Form SPLK</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="detailFormSplk">
                    <div class="mb-1">
                        <label for="nik" class="col-form-label">NIK:</label>
                        @*<input type="text" class="form-control" id="detailnik" name="detailnik">*@
                        <p id ="detailniks" name="detailniks"></p>
                    </div>
                    <div class="mb-1">
                        <label for="nik" class="col-form-label">Overtime Type:</label>
                        @*<input type="text" class="form-control" id="detailjenislembur" name="detailjenislembur">*@
                        <p id="detailjenislemburs" name="detailjenislemburs"></p>
                    </div>


                    <div class="row g-3 mb-1">
                        <div class="col-4">
                            <label for="recipient-name" class="col-form-label">Start Date:</label>
                            @*<input type="Date" class="form-control" id="detailtglmulai" name="detailtglmulai">*@
                            <p id="detailtglmulais" name="detailtglmulais"></p>
                        </div>
                        <div class="col-4">
                            <label for="recipient-name" class="col-form-label">Start Time:</label>
                            @*<input type="time" class="form-control" id="detailjammulai" name="detailjammulai">*@
                            <p id="detailjammulais" name="detailjammulais"></p>
                        </div>
                        <div class="col-4">
                            <label for="recipient-name" class="col-form-label">Start End:</label>
                            @*<input type="time" class="form-control" id="detailjamselesai" name="detailjamselesai">*@
                            <p id="detailjamselesais" name="detailjamselesais"></p>
                        </div>

                    </div>

                    <div class="mb-1">
                        <label for="recipient-name" class="col-form-label">Description:</label>
                        @*<textarea class="form-control" id="detaildeskripsi" name="detaildeskripsi" rows="3"></textarea>*@
                        <p id="detaildeskripsis" name="detaildeskripsis"></p>
                    </div>
                    <div class="mb-1" id="imagepreview">
                        <label for="recipient-name" class="col-form-label">Evidence:</label>
                        <br />
                        <img class="mb-2" id="imgElem" style="height: 40%; width: 40%; border-style: solid; border-width: 1px; border-color: lightgray;"></img>
                    </div>
                    <div>
                        <button class="btn btn-light mb-3" id="download-image">Download Image</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade updateModal" id="updateModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Form SPLK</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="updateFormSplk">
                    <div class="mb-1">
                        <label for="nik" class="col-form-label">NIK:</label>
                        <input type="text" class="form-control" id="updatenik" name="updatenik">
                    </div>
                    <div class="mb-1">
                        <label for="nik" class="col-form-label">Jenis Lembur:</label>
                        <input type="text" class="form-control" id="updatejenislembur" name="updatejenislembur">
                    </div>
                    <div class="row g-3 mb-1">
                        <div class="col-4">
                            <label for="recipient-name" class="col-form-label">Tanggal Mulai:</label>
                            <input type="Date" class="form-control" id="updatetglmulai" name="updatetglmulai">

                        </div>

                        <div class="col-4">
                            <label for="recipient-name" class="col-form-label">Jam Mulai:</label>
                            <input type="time" class="form-control" id="updatejammulai" name="updatejammulai">

                        </div>
                        <div class="col-4">
                            <label for="recipient-name" class="col-form-label">Jam Selesai:</label>
                            <input type="time" class="form-control" id="updatejamselesai" name="updatejamselesai">

                        </div>

                    </div>
                    <div class="mb-1">
                        <label for="recipient-name" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="updatedeskripsi" name="updatedeskripsi" rows="3"></textarea>
                    </div>
                    <div class="mb-1" id="imagepreview">
                        <label for="recipient-name" class="col-form-label">Bukti Lembur:</label>
                        <br />
                        <img class="mb-2" id="imgElems" style="height: 40%; width: 40%; border-style: solid; border-width: 1px; border-color: lightgray;"></img>
                        <input type="file" class="form-control" id="buktifile" name="buktifile">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="btnSaveSplk" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>