@{
    Layout = "LayoutOvertime";
}

<script>
    document.title = "Chart";
</script>


                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Chart Overtime Request</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2" id="TotEmployee">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Employees</div>
                                           
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-solid fa-users fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2" id="TotApproved">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Approved</div>
                                            
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-solid fa-check fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2" id="TotRejected"> 
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Rejected
                                            </div>
                                            
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-solid fa-xmark fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2" id="TotPending">
                                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">
                                                Pending Requests</div>
                                            
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-solid fa-user-clock fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-6 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Overtime Overview</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div id="chart"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-6 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Employee Overtime Graph</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">

                                        <div class="form-inline-chart">
                                            <div class="row g-3">
                                                <div class="col-4">
                                                    <select id="nikemployee" name="nikemployee" class="form-control myClassChart">
                                                        <option >Pilih NIK</option>
                                                    </select>
                                                </div>
                                                <div class="col-4">
                                                    <input type="date" class="form-control myClassChart" id="date1">
                                                </div>
                                                <div class="col-4">
                                                    <input type="date" class="form-control myClassChart" id="date2">
                                                </div>
                                            </div>
                                        </div>

                                        <div id="chartPie"></div>
                                    </div>

                            </div>
                        </div>
                    </div>

                   

