@{
    ViewData["Title"] = "Home Page";
    Layout = "LayoutOvertime";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="img/dashboard.png" class="img-fluid" alt="dashboard" style="height: 40%; width: 40%;">

</div>
