@{
    Layout = "LayoutOvertime";
}

<script>
    document.title = "Manager";
</script>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List Overtime Request Manager (Manager)</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive tablediv">
            <table id="table_manager" class="table table-hover table-bordered" width="100%" cellspacing="0">
                <thead class="thead-light font-weight-bold text-primary">
                    <tr class="">
                        <td>No</td>
                        <td>NIK</td>
                        <td>Overtime Type</td>
                        <td>Start Date</td>
                        <td>Start Time</td>
                        <td>End Time</td>
                        <td>Description</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</div>


<div class="modal fade detailModal" id="detailModalManager" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Detail SPLK Employee</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="detailFormManager">
                    <div class="mb-1">
                        <label for="nik" class="col-form-label">NIK:</label>
                        <input type="text" class="form-control" id="detailMnik" name="detailMnik">
                        @*<p id="detailMnik" name="detailMnik"></p>*@
                    </div>
                    <div class="mb-1">
                        <label for="nik" class="col-form-label">Overtime Type:</label>
                        @*<input type="text" class="form-control" id="detailMjenislembur" name="detailMjenislembur">*@
                        <p id="detailMjenislembur" name="detailMjenislembur"></p>
                    </div>

                    <div class="row g-3 mb-1">
                        <div class="col-4">
                            <label for="recipient-name" class="col-form-label">Start Date:</label>
                            @*<input type="Date" class="form-control" id="detailMtglmulai" name="detailMtglmulai">*@
                            <p id="detailMtglmulai" name="detailMtglmulai"></p>
                        </div>
                        <div class="col-4">
                            <label for="recipient-name" class="col-form-label">Start Time:</label>
                            @*<input type="time" class="form-control" id="detailMjammulai" name="detailMjammulai">*@
                            <p id="detailMjammulai" name="detailMjammulai"></p>
                        </div>
                        <div class="col-4">
                            <label for="recipient-name" class="col-form-label">End Time:</label>
                            @*<input type="time" class="form-control" id="detailMjamselesai" name="detailMjamselesai">*@
                            <p id="detailMjamselesai" name="detailMjamselesai"></p>
                        </div>
                    </div>

                    <div class="mb-1">
                        <label for="recipient-name" class="col-form-label">Description:</label>
                        @*<textarea class="form-control" id="detailMdeskripsi" name="detailMdeskripsi" rows="3"></textarea>*@
                        <p id="detailMdeskripsi" name="detailMdeskripsi"></p>
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Evidence:</label>
                        <br />
                        <img id="imgElemM" style="height: 40%; width: 40%; border-style: solid; border-width: 1px; border-color: lightgray;"></img>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnApprovedManager" class="btn btn-success">Approve</button>
                        <button type="button" id="btnRejectedManager" class="btn btn-danger">Reject</button>
                        <button type="button" id="btnClose"  class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
